<h1>ログイン</h1>

<%= form_with(scope: :session, url: sessions_path, local: true) do |f| %>
  <div class="field">
    <%= f.label :メールアドレス %>
    <%= f.email_field :email %>
  </div>

  <div class="field">
    <%= f.label :パスワード %>
    <%= f.password_field :password %>
  </div>

  <div class="actions">
    <%= f.submit "ログイン" %>
  </div>
<% end %>
